.controlPage {
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    height: 100%;
    gap: 1rem;
}

.controlPage__controlPanel, .controlPage__logPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    box-shadow: 0 3px 14px 0 rgba(0,0,0,0.08);
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1.875rem;
    justify-content: center;
}

.panelControl__statusPanel, .panelControl__panelControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1rem;
    width: 21%;
    max-width: 27rem;
    height: 23rem;
    box-shadow: 0 3px 14px 0 rgba(0,0,0,0.08);
}

.panelControl__statusPanel, .panelControl__panelControl {
    min-width: 19rem;
}

.statusPanel__title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.panelControl__line, .statusPanel__line {
    width: 12rem;
    margin-block-start: 0;
    margin-block-end: 2em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border: 1px solid rgb(217, 217, 217);
}

/*======== Painel de controle =======*/

.panelControl__title {
    font-weight: 500;
    margin-bottom: 1rem;
}

/*======== Painel de controle ========*/

.panelControl__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons__start, .buttons__stop, .buttons__off {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    width: 15rem;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: var(--color-first);
}

.buttons__start {
    background-color: #7CC676;
}

.buttons__start:hover {
    background-color: #5E9C5E;
}

.buttons__stop {
    background-color: #FFB802;
}

.buttons__stop:hover {
    background-color: #eca000;
}

.buttons__off {
    background-color: #FF0000;
}

.buttons__off:hover {
    background-color: #d70000;
}

.buttons__img {
    margin-left: 1rem;
}

/*======== Camera =======*/

.controlPage__camera {
    max-width: 46rem;    
    width: 43%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0 3px 14px 0 rgba(0,0,0,0.08);
}

/*========= Log ===========*/
.controlPage__logPanel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.875rem;
}
.logPanel__title {
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-fourth);
}

.logPanel__tr, .statusPanel__tr {
    border-bottom: 2px solid #E0E0E0;
}
.logPanel__th, .statusPanel__th {
    font-weight: 500;
    color: var(--color-fifth);
    padding-bottom: 0.8rem;
}