main {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 4.813rem;
    overflow-x: hidden; 
}

#menuPages {
    width: 100%; 
    padding: 1rem; 
    box-sizing: border-box;
    flex-grow: 1; 
    overflow-y: auto; 
}

.homepage__tecnologistic {
    background-image: url('../../resources/icons/Tecnologistic_logo.svg');
    background-size: 40%;
    background-position: 45% 45%;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
}

.sideBar {
    position: fixed; /* Mantém a sidebar fixa na lateral esquerda */
    bottom: 0;
    left: 0;
    height: calc(100% - 32px); /* 100% da altura da tela */
    width: 2.5rem; /* Define uma largura fixa para a sidebar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.125rem;
    box-shadow: -2px 14px 19px rgba(0, 0, 0, 0.5);
}

.sideBar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar__hamburger {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 2rem 0 1rem 0;
}

.hamburger__text {
    display: none;
    font-weight: 500;
    color: var(--color-second);
}

.sideBar__bottom {
    flex-direction: column;
    align-items: center;
}

.bottom__line {
    background-image: url('../../resources/images/assets/Components/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 1rem;
    width: auto;
}

.bottom__container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom__button {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 3rem;
    background-color: #7CC676;
    color: var(--color-first);
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: auto;
}

.bottom__button--text {
    display: none;
}

.bottom__button:hover {
    background-color: #4B9447;
}
.button__userProfile, .button__graph, .button__webcam, .button__stock {
    padding: 5px;
    width: 30px;
}

.button__userProfile {
    width: 30px;
}

.logout__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.logout__text {
    display: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-fourth);
}

@media (max-width: 1028px) {
    .homepage__tecnologistic {
        background-size: 60%;
    }
    
}

