/* Flex container */
.main {
    display: flex;
}

/* Background image */
.main__sideimage {
    display: block;
    background-image: url('../../resources/images/assets/backgrounds/index_side_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 200vw;
    min-width: 40rem;
}

.login__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
}

.login__tecnologistic {
    width: 13rem;
}

.login__guest {
    width: 30%;
    margin-top: 2.7rem;
}

.login__line {
    background-image: url('../../resources/images/assets/Components/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24rem;
    height: 1rem;
    margin-top: 2rem;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_inputs--field {
    width: 23.5rem;
    padding-left: 10px;
    height: 2.7rem;
    margin: 1rem 2rem 0 2rem;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
}

.login__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__buttons--login, .login__buttons--forgot, .login__buttons--register {
    width: 12rem;
    height: 2.7rem;
    border-radius: 8px;
    background-color: var(--color-fourth);
    color: #FFF;
    font-size: 0.8rem;
    border: none;
    transition: 0.3s ease-in-out;
    margin-top: 1rem;
    text-decoration: none;
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
}
.login__buttons--forgot {
    padding: 14px 2rem;
}

.login__buttons--register {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    width: 24rem;
}

.login__buttons--login:hover, .login__buttons--forgot:hover, .login__buttons--register:hover {
    background-color: var(--color-sixth);
    cursor: pointer;
}

@media only screen and (max-width: 1170px) {
    .main__sideimage {
        display: none;
    }
    
    .login__tecnologistic {
        margin-top: 1rem;
    }
    
    .login__guest {
        max-width: 15%;
        min-width: 9rem;
        margin-top: 3rem;
    }
}
