main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.signUp__return {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-fourth);
    font-weight: 500;
    padding: 1rem 0 0 1rem;
}

.signUp__return--arrow {
    width: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.signUp__return--arrow:hover {
    fill: var(--color-sixth);
}

.signUp__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp__tecnologistic {
    width: 15rem;
    margin-bottom: 2rem;
}

.signUp__line {
    /*display: none;*/
    background-image: url('../../resources/images/assets/Components/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 25rem;
}

.signUp__text {
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-inline: 5rem;
    text-align: center;
}

.signUp__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
}

.signUp__input {
    width: 25rem;
    padding-left: 10px;
    height: 2.7rem;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
}

.signUp__input, .signUp__sendEmail {
    width: auto;
}

.signUp__sendEmail {
    background-color: var(--color-fourth);
    color: var(--color-first);
    height: 3.25rem;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.signUp__sendEmail:hover {
    background-color: var(--color-sixth);
}
